@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
	background-image: image-set(
		'/backgrounds/perlin-dark-converted/perlin-dark-1024.avif' 1x,
		'/backgrounds/perlin-dark-converted/perlin-dark-2048.avif' 2x,
		'/backgrounds/perlin-dark-converted/perlin-dark-1024.webp' 1x,
		'/backgrounds/perlin-dark-converted/perlin-dark-2048.webp' 2x,
		'/backgrounds/perlin-dark-converted/perlin-dark-1024.jpg' 1x,
		'/backgrounds/perlin-dark-converted/perlin-dark-2048.jpg' 2x,
	);
	background-repeat: repeat;
}
html.light {
	background-image: image-set(
		'/backgrounds/perlin-light-converted/perlin-light-1024.avif' 1x,
		'/backgrounds/perlin-light-converted/perlin-light-2048.avif' 2x,
		'/backgrounds/perlin-light-converted/perlin-light-1024.webp' 1x,
		'/backgrounds/perlin-light-converted/perlin-light-2048.webp' 2x,
		'/backgrounds/perlin-light-converted/perlin-light-1024.jpg' 1x,
		'/backgrounds/perlin-light-converted/perlin-light-2048.jpg' 2x,
	);
	background-repeat: repeat;
}

.katex-display {
	overflow: auto hidden;
}

.katex {
	font-size: 1.1em !important;
}

*::-webkit-scrollbar {
	height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
	background-color: #7aabf1;
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #185e97;
}

.katex-display {
	scrollbar-color: #9e2b2b #ffffff00;
	scrollbar-width: 0.5rem;
}
